// File: custom.scss
// This file is where you should override any of the site's SCSS for your specific brand site.
// Please make sure that if you add new functionality to the core project that no core SCSS is
// added to your custom.scss file, or this will break the functionality for others.

// More information about creating themes can be found here:
// https://bootstrap-vue.org/docs/reference/theming

// To find out more about how you can customize bootstrap features take a look at:
// https://getbootstrap.com/docs/4.4/getting-started/theming/

// To see a list of variables you can customize for Bootstrap
// covid-19-support\node_modules\bootstrap\scss\_variables.scss

// To see a list of variables you can customize for Bootstrap Vue
// covid-19-support\node_modules\bootstrap-vue\src\_variables.scss
@import 'node_modules/bootstrap/scss/_functions.scss';

$font-family-base: 'Poppins', $font-family-sans-serif;

$body-bg: #eee;
$body-color: #111;

$blue: #0052a5;
$darkblue: #031e3b;
$orange: #fd7e14;
$red: #e0162b;
$green: #52aa36;
$teal: $blue;
$yellow: #ffb71c;
$lightorange:  #ee8842;

$warning: $yellow;
$danger: $red;

// 46c4d7
$theme-colors: (
  'primary': $red,
  'secondary': $blue,
  'tertiary': $white,
  'quaternary': $red,
  'quinary': $lightorange,
  'buttons': $white,
  'success': $green,
  'warning': $warning,
  'danger': $danger,
  'secondaryDark': $darkblue
);

$navbar-padding-x: 1rem;
$navbar-padding-y: 0;

// Define your Bootstrap variable overrides here
//  $enable-shadows: true;
//  $enable-gradients: true;
// $grid-breakpoints: (
//   xs: 0,
//   sm: 456px,
//   md: 789px,
//   lg: 999px,
//   xl: 1234px
// );
$bv-enable-table-stacked: false;

@include list-group-item-variant('sideNav', theme-color('secondary'), $white);
@media (prefers-color-scheme: dark) {
  @include list-group-item-variant('sideNav', theme-color('secondaryDark'), $gray-500);

  .bg-primary {
    background-color: theme-color-level('primary', 5) !important;
  }
  .bg-secondary {
    background-color: theme-color-level('secondary', 8) !important;
  }
  .bg-tertiary {
    background-color: theme-color-level('tertiary', 5) !important;
  }

  .bg-quaternary {
    background-color: theme-color-level('quaternary', 5) !important;
  }

  .btn-buttons {
    @include button-variant($gray-500, $gray-500);
  }

  .modal-content {
    background: #222;
  }
}
